<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/두 번째 알고리즘 스터디/src/수강신청_13414.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="수강신청_13414"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="두 번째 알고리즘 스터디"/>
</launchConfiguration>
